@charset "utf-8";
body, html {
    width: 100%;
    height: 100%;
    margin:0;
    font-family:"Î¢ÈíÑÅºÚ";
}
#container{
    width:100%;
    height:100%;
}
#searcher{
    position: fixed;
    top: 5px;
    left: 15px;
    width: 400px;
    height: 30px;
    line-height: 40px;
    text-align: left;
    background: null;
    border-radius: 7px;
    z-index: 99;
}
#buttons{
    position: fixed;
    top: 10px;
    left: 20px;
    cursor: "pointer";
    padding: "7px 10px";
    box-shadow: "0 2px 6px 0 rgba(27, 142, 236, 0.5)";
    border-radius: "5px";
    background-color: "white";
}